*{
    padding:0;
    margin:0;
  }
  body{
    box-sizing:border-box;
    background-color:#f2f2f2;
  }
  ul{
    list-style-type:none;
    text-align: left;
    margin-left:100px;  
  }
  div.join{
    margin:auto;
    background-color:white;
    width:700px;
    border:1px solid blue;
  }
  label{
    display: block;
  }
  